/* COURSES */

.course-wrapper {

    .row {
        margin-bottom: 1em;
    }

    .course-links {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: right;
        }
    }

    // year1, year2, ...
    ul#course-modules-tabs {

        +div.tabs-content {
            background: $light-gray;
        }
    }
}
