body {
    background: #eee;
}

.wrapper {
    box-shadow: 0 0 5px #888;
    background: #fff;
}

header {
    form.search {
        position: relative;

        input.go {
            position: absolute;
            top: 0;
            right: 0;
            padding: 11px;
            cursor: pointer;
        }
    }

    @include breakpoint(medium up) {
        a.logo img {
            margin: 25px 10px 25px 10px;
            width: 306px;
            height: 55px;
        }

        form.search {
            float: right;
            margin-right: 0;
            margin-top: 30px;
        }
    }

    @include breakpoint(small only) {
        a.logo img {
            margin: 25px 30px 0 30px;
            margin-top: 30px;
        }

        form.search {
            margin-right: 0;
            margin-top: 30px;
        }
    }
}

ul.menu {
    background: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0;
    margin: 0;
}

.content {
    padding: 25px 10px 25px 10px;
    clear: both;
}
