/* KITCHEN SINK COMPONENTS */

/* Tabs */

.tabs-plain {
    border: none;
    // margin-bottom: 1em;

    li {
        &.is-active {
            a {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }

    +div.tabs-content {
        border: none;
        margin-bottom: 1em;
    }
}

.tabs-flat {
    border: none;
    border-bottom: 3px solid $medium-gray;
    background: $light-gray;
    // margin-bottom: 0;

    li {
        &.is-active {
            a {
                font-weight: bold;
            }
        }
    }

    +div.tabs-content {
        background: $light-gray;
        border: none;
        margin-bottom: 1em;

        dd {
            border-bottom: 2px solid $medium-gray;
        }
    }
}

.tabs-bold {
    border: none;
    // margin-bottom: 1em;

    li {
        // width: 50%;
        text-align: center;

        a {
            background: $medium-gray;

            &:hover {
                background: $medium-gray;
            }
        }

        &.is-active {
            a {
                background: $primary-color;
                color: $white;
                font-weight: bold;
            }
        }
    }

    +div.tabs-content {
        border: none;
        margin-bottom: 1em;
    }
}
.tabs-bold-3 {
    li {
        width: 25%;
    }
}
.tabs-bold-4 {
    li {
        width: 33%;
    }
}
.tabs-bold-6 {
    li {
        width: 50%;
    }
}

// this will break tabs on small devices
.tabs--break-for-small {
    @media screen and #{breakpoint(small only)} {
        display: none;

        +div.tabs-content {
            border: none;

            .tabs-panel {
                display: block;
            }
        }
    }
}

.tabs-content--no-padding {
    >.tabs-panel {
        padding: 0;
    }
}


/* Figure blocks */

.title-block {
    // @extend .columns;
    // float: left !important;
    margin-bottom: 1em;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    .title-block__title {
        text-align: center;
        display: block;
        padding: 10px;
        background: $primary-color;
        color: $white;
    }

    &.title-block--overlay {
        figcaption {
            bottom: 0;
        	width: 100%;
        	position: absolute;
        }
    }
}



/* Wrapper rows */

// // e.g. gray section
// // .section-coloured {
// .row-shaded {
//     background-color: $light-gray;
// }



.wrapper-row {
	padding: 2em 0;
    margin-bottom: 2em;

	&.wrapper-row--shaded {
		background: #eee;
	}
	&.wrapper-row--no-padding{
		padding: 0em;
	}
    &.wrapper-row--image-right {
        img {
            float: right;
            margin-left: 1em;
        }
        p {
            margin: 1em 0;
        }
    }
    &.wrapper-row--image-left {
        img {
            float: left;
            margin-right: 1em;
        }
        p {
            margin: 1em 0;
        }
    }
}

// /* Sections with images */
//
// .section-image-right {
//     padding-right: 0;
//
//     img {
//         height: auto;
//         float: right;
//         padding-left: $tab-content-padding;
//     }
// }
//
// .section-image-left {
//     padding-left: 0;
//
//     img {
//         height: auto;
//         float: left;
//         padding-right: $tab-content-padding;
//     }
// }
//
// .section-image-4 {
//     // @extend .section-image-right;
//
//     img {
//         width: 33%;
//     }
// }
//
// .section-image-6 {
//     // @extend .section-image-right;
//
//     img {
//         width: 50%;
//     }
// }
